{% extends 'layout.html' %}
{% block content %}
    <main id="track-view">
        <h2 class="title">{{ track.title }}</h2>
        <table id="track-info">
            <tr>
                <td>Album</td>
                <td>{{ track.album.title }}</td>
            </tr>
            <tr>
                <td>Artist</td>
                <td>{{ track.artist.full_name }}</td>
            </tr>
            <tr>
                <td>Genre(s)</td>
                <td>
                    {% for genre in track.genres %}{{ genre.name }},{% endfor %}
                </td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>{{ "{}:{:02d}".format(track.track_duration // 60, track.track_duration  % 60) }}</td>
            </tr>
            {% if track.rating != None %}
                <tr>
                    <td>Rating</td>
                    <td>{{ track.rating }} / 5</td>
                </tr>
            {% endif %}
        </table>
        <p class="margin-left">
            Click <a href="{{ track.track_url }}">here</a> to view the track on Free Music Archive.
        </p>
        <div class="dropdown">
            <i style="font-size:22px" class="fa">&#xf067;</i>
            <span class="text"><b>ADD TO PLAYLIST</b></span>
            <div class="dropdown-content">
                {% if 'user_name' not in session %}
                    <p>
                        <a href="{{ url_for('authentication_bp.login')}}">Login</a> to continue.
                    </p>
                {% elif playlists|length == 0 %}
                    <p>You have no playlists.</p>
                {% endif %}
                {% for playlist in playlists %}
                    <div class="content">
                        <a href = "{{ url_for('playlist_bp.add_track', playlist_name = playlist.playlist_name, track_id = track.track_id) }}"
                           class="content">
                            {{ playlist.playlist_name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="review-div">
            <h2 class="subheader">Reviews</h2>
            {% if 'user_name' in session %}
                <div class="formwrapper">
                    <form method="POST" action="{{ handler_url }}">
                        Rating: {{ review_form.rating }} (out of 5)
                        {{ review_form.review_input(placeholder="Enter your review here...") }}
                        {{ review_form.submit }}
                    </form>
                </div>
            {% endif %}
            {% if 'user_name' not in session %}
                <p class="margin-left">
                    Please <a href="{{ url_for('authentication_bp.login')}}">log in</a> to leave a review.
                </p>
            {% endif %}
            <div id="review-display">
                {% for review in reviews %}
                    <div class="indiv-review">
                        <p class="right-align">{{ review.timestamp.strftime("%I:%M%p - %d/%m/%y") }}</p>
                        <p>Rating: {{ review.rating }}/5</p>
                        <p>{{ review.review_text }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}
