{% extends 'layout.html' %}
{% block content %}
    <main id="search">
        <h1 class="header-text">Search by Album</h1>
        <form action="{{ url_for('search_bp.search_albums_result') }}">
            <input type="text"
                   class="input-box"
                   name="target_album"
                   placeholder="What album are you looking for?">
            <button class="btn-main input-button" type="submit">Search</button>
        </form>
    </main>
{% endblock content %}
