<nav id="nav">
  <a class="header" href="{{ url_for('home_bp.home')}}">Music</a>
  <a href="{{ url_for('search_bp.search_tracks')}}" class="btn-nav">Search by Track</a>
  <a href="{{ url_for('search_bp.search_artists')}}" class="btn-nav">Search by Artist</a>
  <a href="{{ url_for('search_bp.search_albums')}}" class="btn-nav">Search by Album</a>
  <a href="{{ url_for('playlist_bp.create_playlist')}}" class="btn-nav">Create Playlist</a>
  <a href="{{ url_for('playlist_bp.get_playlists')}}" class="btn-nav">My Playlists</a>
</nav>
